README.me
usr/
qemu/
qemu.tar.gz
pintos.tgz
pintos.tar.gz
proj0.tgz
pintos/src/utilities/pintos-gdb 
bochs-2.4.5.targ.gz
bochs-2.4.5/

# Compiled Object files
*.o
*.d
log-mega.txt.
log-mega.txt

log-multiple.txt
log-mega.txt

*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
pintos/src/ipch
pintos/src/threads/ipch